ul {
    list-style-type: none;
}


html * {
   
    font-family: Roboto !important;
}

#title{
    transform: scale(1.2);
}



/* CSS */
text.shadow {
    stroke: black;
    stroke-width: 0.6px;
    opacity: 0.8s;
}

svg {
    position: absolute;
    left: 0px;
    top: 130px;
}

#svg_tba {
    position: absolute;
    left: 400px;
    top: 130px;
}

#svg_tba0 {

    position: absolute;
    left: 0px;
    top: 400px;

}

#svg_tamb1 {

    position: absolute;
    left: 400px;
    top: 130px;

}

#svg_tba1 {

    position: absolute;
    left: 400px;
    top: 400px;

}

#svg_tamb2 {

    position: absolute;
    left: 800px;
    top: 130px;

}

#svg_tba2 {

    position: absolute;
    left: 800px;
    top: 400px;

}

#svg_tamb3 {

    position: absolute;
    left: 1200px;
    top: 130px;

}

#svg_tba3 {

    position: absolute;
    left: 1200px;
    top: 400px;

}

#svg_tamb4 {

    position: absolute;
    left: 1600px;
    top: 130px;

}

#svg_tba4 {

    position: absolute;
    left: 1600px;
    top: 400px;

}


#svg_tamb5 {

    position: absolute;
    left: 2000px;
    top: 130px;

}

#svg_tba5 {

    position: absolute;
    left: 2000px;
    top: 400px;

}

#svg_tamb6 {

    position: absolute;
    left: 2400px;
    top: 130px;

}

#svg_tba6 {

    position: absolute;
    left: 2400px;
    top: 400px;

}

#svg_tamb7 {

    position: absolute;
    left: 2800px;
    top: 130px;

}

#svg_tba7 {

    position: absolute;
    left: 2800px;
    top: 400px;

}

#svg_tamb8 {

    position: absolute;
    left: 3200px;
    top: 130px;

}

#svg_tba8 {

    position: absolute;
    left: 3200px;
    top: 400px;

}

#svg_tamb9 {

    position: absolute;
    left: 3600px;
    top: 130px;

}

#svg_tba9 {

    position: absolute;
    left: 3600px;
    top: 400px;

}

#svg_tamb10 {

    position: absolute;
    left: 4000px;
    top: 130px;

}

#svg_tba10 {

    position: absolute;
    left: 4000px;
    top: 400px;

}

#svg_tamb11 {

    position: absolute;
    left: 4400px;
    top: 130px;

}

#svg_tba11 {

    position: absolute;
    left: 4400px;
    top: 400px;

}

#svg_tamb12 {

    position: absolute;
    left: 4800px;
    top: 130px;

}

#svg_tba12 {

    position: absolute;
    left: 4800px;
    top: 400px;

}

#svg_tamb13 {

    position: absolute;
    left: 4800px;
    top: 130px;

}

#svg_tba13 {

    position: absolute;
    left: 4800px;
    top: 400px;

}

#svg_tamb14 {

    position: absolute;
    left: 5200px;
    top: 130px;

}

#svg_tba14 {

    position: absolute;
    left: 5200px;
    top: 400px;

}

#svg_tamb15 {

    position: absolute;
    left: 5600px;
    top: 130px;

}

#svg_tba15 {

    position: absolute;
    left: 5600px;
    top: 400px;

}


#coordinates {

    position: absolute;
    left: 8px;
    top: 140px;
}

#legenda {
    clear: both
}

.input-color {
    position: relative;
}

.input-color input {
    padding-left: 20px;
}

.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}

input[type=number] {

    margin-left: 8px;
    box-sizing: border-box;
    border: 2px solid lightseagreen;
    border-radius: 4px;
    background-color: rgb(205, 236, 246);

}

input[type=checkbox] {
    background-color: lightblue;
}


#problems-found {

    position: absolute;
    left: 500px;
    top: 0px;
    height: 200px;
    width: 500px;

}

#availableSpindles {

    position: absolute;
    left: 850px;
    top: 100px;
    width: 300px;
    display: block;

    justify-content: space-between;
    font-size: 13px;
    transform: scale(1.2);
    font-weight: 400;
    border-radius: 25px;
    background-color: lightgrey;
    padding-left: 2.5px;
    padding-top: 20px;
    padding-right: 2.5px;

}

.checkbox-spindles {
    margin-left: 10px;
}

#selectedSpindles {

    position: absolute;
    left: 850px;
    top: 470px;
    width: 300px;
    display: block;

    justify-content: space-between;
    font-size: 13px;
    transform: scale(1.2);
    font-weight: 400;
    border-radius: 25px;
    background-color: lightgrey;
    padding-left: 2.5px;
    padding-top: 20px;
    padding-right: 2.5px;

}

.checkbox-spindles {
    margin-left: 10px;
}


#svg3 {
    position: absolute;
    left: 800px;
    top: 200px;
}

.button-blue {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #07c;
}

.button-blue:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-blue:active {
    background-color: #0064bd;
    box-shadow: none;
}

.button-green {
    background-color: #32CD32;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-green:disabled {
    background-color: grey;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-green:disabled:hover,
.button-green:disabled:focus {
    background-color: darkgrey;
}

.button-blue-spindle {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    height: fit-content;
    width: fit-content;
}

.button-blue:hover,
.button-blue:focus {
    background-color: #07c;
}

.button-blue:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-blue:active {
    background-color: #0064bd;
    box-shadow: none;
}

.button-green {
    background-color: #32CD32;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-green:hover,
.button-green:focus {
    background-color: #9ACD32;
}

.button-green:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-green:active {
    background-color: #228B22;
    box-shadow: none;
}



.button-red {
    background-color: #ff0000;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-red:hover,
.button-red:focus {
    background-color: #b30000;
}

.button-red:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-red:active {
    background-color: #ffbfbf;
    box-shadow: none;
}

h3 {
    position: absolute;
    left: 880px;
    top: 20px;
}

#cerca {
    position: absolute;
    left: 1030px;
    top: 650px;

}

#clearSelected {

    position: absolute;
    left: 920px;
    top: 650px;

}

.button-wrapper {
    margin-left: 100px;
}

#day-start {

    display: inline-block;

}

#day-end {

    display: inline-block;

}




.hide {
    visibility: hidden;
    transition: all 1s ease-out;
    opacity: 0;
}

#divselectAll0 {
    position: absolute;
    left: 700px;
    top: 50px;
}

#divselectAll1 {
    position: absolute;
    left: 700px;
    top: 428px;
}

#submit {

    position: absolute;
    left: 285px;
    top: 288px;

}